body {
  font-size: .875rem;    
  background: #F7F8FC !important;
}
.logo{
  width: 100px;
}
.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
  font-size: 1.25rem;
  padding: 10px 20px;
  margin: 10px 0;
}
.sidebar .nav-link:hover{
  background-color: #00000047;
  color: #fff;
}
.nav-link svg{
  width: 20px;
  color: #fff;
  margin: 0 20px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.book-container{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #DFE0EB;
  margin-left: 2rem !important;
  width: 97% !important;
  overflow: scroll;
}
.thubnail{
  width: 100px;
}
.bookRow{
  vertical-align: middle;
}
td label{
  font-weight: 600;
  color: #252733;
}
.title{
  font-family: "Myanmar Sans Pro";
}
.editIcon svg{
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.sidebar .nav-link.active{
  background-color: #f8f9fa;
  color: #141619;
}
.nav-pills .nav-link{
  border-radius: unset;
}